name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore "./Services/2.0. Services.csproj"
    - name: Build
      run: dotnet build "./Services/2.0. Services.csproj" --no-restore
    - name: Test
      run: dotnet test "./Services/2.0. Services.csproj" --no-restore --verbosity normal
