<?xml version="1.0"?>
<GeneratorParams xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TargetFramework>Net20</TargetFramework>
  <NameSpace>Models.TopoModels.Eulynx</NameSpace>
  <Language>CSharp</Language>
  <CommandLine>xsd2code.exe &lt;XSD File&gt; Models.TopoModels.Eulynx &lt;Output file&gt; /p Net20 /classinfiles /dbg /lazy /clean /xao /Indent2Space </CommandLine>
  <CollectionBase />
  <Properties>
    <LazyLoading>true</LazyLoading>
    <PrivateFieldCustomPrefix />
  </Properties>
  <XmlAttribute>
    <Enabled>true</Enabled>
    <GenerateOrderXmlAttributes>true</GenerateOrderXmlAttributes>
  </XmlAttribute>
  <ClassParams>
    <GenerateInSeparateFiles>true</GenerateInSeparateFiles>
    <GenerateInSeparateFilesDirectory />
  </ClassParams>
  <Miscellaneous>
    <EnableDebug>true</EnableDebug>
  </Miscellaneous>
</GeneratorParams>
